---
import { techIcons } from "../consts/techIcons";
import { projects } from "../consts/projects";
---

<section
  id="projects"
  class="py-16 dark:bg-gray-900 dark:text-white bg-gray-200 text-gray-900"
>
  <div class="container mx-auto px-6">

    <!-- Tecnologías -->
    <div class="text-center mb-16 dark:bg-gray-800 bg-gray-200 p-10 rounded-lg shadow-lg">
      <div class="flex w-full items-center mb-11">
        <div class="dark:border-white border-black border-2 flex-grow border-t" />
        <div class="mx-4">
          <h2 class="text-center text-3xl font-bold">Tecnologías</h2>
        </div>
        <div class="dark:border-white border-black border-2 flex-grow border-t" />
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-8">
        {techIcons.map((tech) => (
          <div class="relative group flex flex-col items-center animate-slide-in-bottom">
            <img
              src={tech.icon.src}
              alt={tech.alt}
              role="button"
              class="w-16 h-16 object-contain mb-2 hover:scale-110 dark:invert"
            />
            <div class="absolute -bottom-5 opacity-0 group-hover:opacity-100 bg-gray-700 dark:bg-gray-300 text-white dark:text-gray-900 text-xs rounded px-3 py-1 transition-opacity duration-300">
              {tech.name}
            </div>
          </div>
        ))}
      </div>
      
    </div>
    <!-- Proyectos -->
    <div>
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-10 animate-fade-in">
        Mis Proyectos
      </h2>

      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {projects.map((project) => (
          <a 
            href={`/proyecto/${project.slug}`} 
            class="group relative overflow-hidden dark:bg-gray-800 bg-white rounded-xl shadow-lg transition hover:scale-[1.03] hover:shadow-xl animate-fade-up flex flex-col h-full"
          >
            <div class="h-48 overflow-hidden rounded-t-xl">
              <img 
                src={project.image?.src} 
                alt={`Imagen de ${project.title}`} 
                class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
              />
            </div>

            <div class="p-4">
              <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
            </div>
          </a>
        ))}
      </div>
    </div>
  </div>
</section>
